.big-container{
  background-color: #2a124a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 0;
  flex-direction: column;
}

.mainHead{
  font-family: 'IBM Plex Sans', sans-serif; 
  color: white;
  font-size: 6rem;
  margin: 0;
  text-shadow: 2px -1px 8px rgba(100,100,100,0.6);
}
.subhead{
  font-family: 'IBM Plex Sans', sans-serif; 
  color: white;
  font-size: 2rem;
}